BasedOnStyle: Mozilla
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentWidth: 4
TabWidth: 4
FixNamespaceComments: true
Cpp11BracedListStyle: true
ColumnLimit: 150
CommentPragmas: '^ NOLINT'
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
