Checks:          'clang-diagnostic-*,clang-analyzer-*, bugprone-*, concurrency-*, cppcoreguidelines-*'
WarningsAsErrors: '-*'
HeaderFilterRegex: '.*'
CheckOptions:
  - key: readability-function-size.StatementThreshold
    value: 30
  - key: readability-function-size.ParameterThreshold
    value: 5
